<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Chat</ion-title>
    <ion-label>Bienvenido {{user.name}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let msg of msgs">
    <ion-item>
      <ion-label>{{msg.username}}: </ion-label>
      <ion-label>{{msg.message}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list>
      <ion-row>
        <ion-col size="9">
          <ion-textarea formControlName="message" [(ngModel)]="msg.message"></ion-textarea>
        </ion-col>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationmessages.message">
            <div class="error-message"
                 *ngIf="validationsForm.get('message').hasError(validation.type) && (validationsForm.get('message').dirty || validationsForm.get('message').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-col size="3">
          <ion-button [disabled]="validationsForm.valid" (click)="createMsg()">
            <ion-icon name="send-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-footer>
